@import "tailwindcss";

@theme {
  --color-primary: #B9F8CF;
  --color-primary-dark: #059669;
  --color-secondary: #1E293B;
  --color-secondary-dark: #0F172A;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8fafc;
  color: #1e293b;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .form-input {
    @apply transition-all duration-200 ease-in-out;
  }
}
